node_modules/
.env
.DS_Store

# Frontend
frontend/node_modules/
frontend/.env
frontend/.DS_Store

# Backend
backend/node_modules/
backend/.env
backend/.DS_Store


# test reports
backend/tests/reports/
frontend/tests/reports/

# test coverage
backend/coverage/
frontend/coverage/

# test logs
backend/tests/logs/
frontend/tests/logs/

# test screenshots
backend/tests/screenshots/
frontend/tests/screenshots/

# test videos